# all js code in main.js, so do not ignore main.js
dist/**
node_modules
test-run/**
bundle-analysis.html
gifs - 副本
gifs/bg-setting.png
gifs/新建沙盒-新建mermaid图-无效.mp4
gifs/图表进入编辑模式再退出重新渲染仍然有按钮.mp4
gifs/QQ20241116-163123.mp4
gifs/mermaind-in-dataview.mp4
